.services__container{
    grid-template-columns: repeat(1, 992px);
    column-gap: 3rem;
    justify-content: center;
}

.services__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem;
    border-radius: 1.25rem;
    display: flex;
}

.services__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.services__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.services__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.services__data{
    margin: 1.5rem;
    display: flex;
    justify-content: center; 
    column-gap: 0.5rem; 
}

.services .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.services__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    line-height: 18px;
    text-align: center;
    width: 325px;
}

.services__technologies{
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    line-height: 18px;
    text-align: center;
}

.services__data .bxl-github,
.services__data .bx-link-external{
    cursor: pointer;
    color: var(--title-color-dark);
    font-size: 1.5rem;
    margin: 0 10px;
}

.services__content img{
    margin-bottom: .8rem;
    border-radius: 20px;
    cursor: pointer;
    width: 580px;
    transition: transform 0.3s, filter 0.3s;
}

.services__content img:hover{
    transform: scale(1.01);
    filter: brightness(70%);
}

/* ------ Responsividades ------ */

/* ------ Grande ------ */

@media screen and (max-width: 1024px){
    .services__container{
        grid-template-columns: repeat(2, 350px);
    }

    .services__content{
        padding: 2rem 2rem;
        display: inline;
    }

    .services__data{
        margin: 0;
    }

    .services__name{
        width: auto;
    }
}
  
/* ------ Média ------ */
  
@media screen and (max-width: 768px){
    .services__container{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services__content{
        padding: 1.5rem;
        width: 23rem;
    }

}

@media screen and (max-width: 576px){
    .services__content{
        width: 18rem;
    }
}
  
/* ------ Pequena ------ */
  
@media screen and (max-width: 350px){
    .services__box{
        column-gap: 1.25rem;
    }

    .services__name{
        font-size: var(--small-font-size);
    }

    .services__content{
        width: 90%;
    }
}